<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of my test with WebRTC</title>
</head>
<body>

  <h1> HTML5 WebSocket with web RTC. </h1>
<ul> test
  <li> <a href="https://github.com/grobe/jdr.grobe.fr" target ="_blank">source code </a></li>
  <li> <a href="@routes.HomeController.webSocket()" target ="_blank">HTML5 WebSocket chat by the signaling server </a></li>
  <li> <a href="@routes.WebsocketController.webSocketChatPeerToPeer()" target ="_blank">HTML5 WebSocket chat by WEBRTC</a></li>  
</ul>
</body>
</html>